body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(Images/image1.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(Images/image2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(Images/image3.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 10%;


}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;

    height: 100%;
}


/* Blog Posts */
.blog {
    width: full;
    background: rgba(0, 0, 0, 0.4);
    padding: 100px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}


.blog h1 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.blog h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: left;
}

.blog p {
    text-align: justify;

}

.blog li a:hover {
    color: #b9b9b9;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.section section-light img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}
